body {
    font-family: sans-serif;
}
h1{
    color: red;
    font-style: sans-serif;
}

code{
    color: red;
    font-style: monospace;
}

#li-two > code{
    color:green;
}

li{
    font-family: inherit;
}

ol > li {
    background: black;
    color: white;
}