body {
    font-family: sans-serif;
}
.highlight-code{
    color:green;
}
h1{
    color: blue;
    font-style: sans-serif;
}
code{
    color: red;
    font-style: monospace;
}



/* adjacent sibling combinator */
li + li {
    background: black;
    color: white;
}
/* 
or you could use the
general sibling combinator 
li ~ li {
    background: black;
    color: whitel
} */




/* direct child combinator */
ol > li {
    background: black;
    color: white;
}
/*  or a little loser and do a descendant combinator */
/* ol li {
    background: black;
    color: white;
} */




li{
    font-family: inherit;
}